.card {
    &__header {
        margin-top: 13%;
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 50px 20px 0px 20px;
    }
}

.panel_arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    & a i {
        color: var(--brand-secondary);
        font-size: 50px;
    }
}

.disabled {
    pointer-events: none;
    cursor: default;
}

@media screen and (max-width: 880px) {
    .card__header {
        margin-top: 7%;
    }
}

@media screen and (max-width: 768px) {
    .card {
        &__header {
            margin-top: 5%;
        }
        &__content {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .panelButtons a {
        font-size: 100%;
    }
}

@media screen and (max-width: 768px) {
    .card__header {
        margin-top: 10%;
    }
}

@media screen and (max-width: 550px) {
    .card__content {
        grid-template-columns: repeat(1, 1fr);
    }
}