.footer {
    display: flex;
    justify-content: center;
    background-color: var(--brand-primary);
    line-height: 80px;
    & h2 a {
        text-align: center;
        color: rgba(255, 255, 255, 0.9);
        cursor: pointer;
        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
}