@import 'src/styles/globales';
.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 74vh;
    justify-content: center;
    align-items: center;
    & h2 {
        font-size: 250%;
        text-align: center;
    }
    button {
        @include myButton(50%, --active-primary)
    }
}